ion-footer {
    ion-toolbar {
        align-items: flex-start;
        --min-height: 56px;
        --padding-bottom: 0;
        --padding-top: 0;
        --padding-start: 0;
        --padding-end: 0;
        padding: 0;
        &:first-of-type{
            --border-width: 0 !important;
        }

        .toolbar-background {
            background-color: var(--ion-color-dark);
        }

    }

}
