ion-footer {
    ion-buttons {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 100%;
        justify-content: space-between;
    }
}
